<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>

</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
    <h1> Features page</h1>
    <div id="app">
        <div class="spinner-border" role="status" v-if="servers.length === 0">
            <span class="visually-hidden">Loading...</span>
          </div>
          <ul class="list-group" v-else>
            <li class="list-group-item" v-for="server in servers"> 
                {{ server.name }}
                <strong> {{ server.status }} </strong>
            </li>
          </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="/app.js"></script>
</body>
</html>